
.header {
  border-bottom: 1px solid #dee2e6; 
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
  .navbar-expand-md .navbar-nav{
    margin-right: 40px;
  }

.user-avatar {
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 40px;
  height: 40px;
  float: left;
}

.user-name {
 margin-right: 0.5rem;
  font-weight: 500;
  color: #333;
  float: left;
  clear: right;
}

.user-status {
  font-size: 0.8rem;
  color: #28a745; 
  float: left;
}

.dropdown2 {
 position: relative;
  bottom: -35px;
  left: 160px;
}
